<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

    <title>{% block title %}Titulo{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='img/Books-Free-PNG-Image.png') }}" type="image/png">
</head>
<body>

    <header class="navbar is-info is-responsive">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('inicio')}}">
                <img src="{{ url_for('static', filename='img/Books-Free-PNG-Image.png') }}" alt="Logo">
                <h1 class="has-text-dark title is-4">Biblioteca</h1>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                {% if session.get('nombre') %}
                    <span class="navbar-item">Hola, {{session.get('nombre')}} {{session.get('apellido')}}!</span>
                    <a class="button is-danger m-2" href="{{url_for('logout')}}">Cerrar sesión</a>
                {% else %}
                    <a class="button is-primary m-2" href="{{url_for('login')}}">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="section">
        <div class="container">
            {% block content %}
            <!-- Contenido de la página -->
            {% endblock %}
        </div>
    </main>

    <footer class="footer py-2 footer-fixed has-background-info">
        <div class="content has-text-centered has-text-dark">
            <p>© {{session.get('anio', 2025)}} Biblioteca. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>
