{% extends "base.html" %}

{% block title %}Sistema de Gestión de Biblioteca{% endblock %}

{% block content %}
    <h1 class="title is-1 has-text-centered has-background-dark mb-6">Sistema de Gestión de Biblioteca</h1>
    <h3 class="subtitle has-background-dark fondo-subtitulos mb-5 p-2">Opciones del Sistema:</h3>

    <div class="buttons">
        <a href="/libros" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Ver libros</a>
        <a href="/prestamos" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Historial de prestamos</a>
        <a href="/clientes" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Clientes</a>
        <a href="/bibliotecarios" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Bibliotecarios</a>
    </div>
    </div>
{% endblock %}
