{% extends "base.html" %}

{% block title %}Opciones clientes{% endblock %}

{% block content %}
    <h1 class="title is-1 has-text-centered has-background-dark mb-6">Opciones clientes</h1>
    <h3 class="subtitle has-background-dark fondo-subtitulos mb-5 p-2">Opciones del Sistema:</h3>

    <div class="buttons">
        <a href="/" class="button is-danger is-dark is-rounded is-fullwidth is-responsive">Volver</a>
        <a href="/clientes/agregar" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Crear nuevo cliente</a>
        <a href="/clientes/ver" class="button is-link is-dark is-rounded is-fullwidth is-responsive">Ver clientes</a>
    </div>
{% endblock %}
