{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1 class="title is-1 has-text-centered has-background-dark mb-5">Clientes</h1>
    <a href="{{url_for('opciones_cliente')}}" class="button is-danger my-3">Volver</a>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <table class="table is-striped is-bordered is-hoverable is-fullwidth">
                    <thead>
                        <tr class="is-dark">
                            <th class="has-text-centered">ID</th>
                            <th class="has-text-centered">Nombre</th>
                            <th class="has-text-centered">Apellido</th>
                            <th class="has-text-centered">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in clientes %}
                        <tr class="has-background-info-30 has-text-centered">
                            <td>
                                {{c.id}}
                            </td>
                            <td>
                                {{c.nombre}}
                            </td>
                            <td>
                                {{c.apellido}}
                            </td>
                            <td>
                                <a href="/cliente/{{c.id}}" class="has-text-light is-underlined">Ver</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}